doctype html
html
  head
      title Start Using ES6 Today by Wes Bos
      meta(charset='utf-8')
      script(src='slides.js')
      link(href='https://fonts.googleapis.com/css?family=Bangers|Open+Sans:400,700' rel='stylesheet' type='text/css')
      link(href='styles.css'  rel='stylesheet' type='text/css')
    body
      section.slides.layout-regular.template-default
        article.first
          h1(style="font-size:250px;") START USING<br>ES6 TODAY
          br
          a(href='http://wesbos.com') wesbos.com
          a(href='http://twitter.com/wesbos') @wesbos

        article
          h1(style="font-size:170px;") I&apos;m<br>Wes Bos
          br
          img(src="images/canada-flag.png")

        article
          h2(style="font-size:60px;") These slides will be available shortly after this talk <br>I&apos;ll tweet the link out.
          img(src='images/Twitter_logo_white.png', width='300' style="margin:100px auto")

          h2
            a(href='http://twitter.com/wesbos', target='_blank') @wesbos

        article(style='background:white;')
          a(href='https://ES6.io/?utm_source=toolingtalk&utm_medium=link&utm_campaign=talkpromo')
            img(src='https://ES6.io/images/es6-facebook-share.png')
          a(href='https://ES6.io/?utm_source=toolingtalk&utm_medium=link&utm_campaign=talkpromo') ES6.io

        article(style='background:white;')
          a(href='https://ReactForBeginners.com/?utm_source=toolingtalk&utm_medium=link&utm_campaign=talkpromo')
            img(src='https://reactforbeginners.com/images/facebook-share.png')
          a(href='https://ReactForBeginners.com/?utm_source=toolingtalk&utm_medium=link&utm_campaign=talkpromo') ReactForBeginners.com

        article(style='background:white;')
          a(href='https://SublimeTextBook.com/?utm_source=toolingtalk&utm_medium=link&utm_campaign=talkpromo')
            img(src='images/cover.png')
          a(href='https://SublimeTextBook.com/?utm_source=toolingtalk&utm_medium=link&utm_campaign=talkpromo') SublimeTextBook.com

        article.plain
          img(src="images/commandline.png")
          a(href="http://commandlinepoweruser.com") CommandLinePowerUser.com

        article.plain
          img.high(src="images/flexbox.png")
          a(href="http://flexbox.io") flexbox.io

        article
          h1 Let's talk about ES6

        article.plain(style="background:url(images/laptop-sticker.jpg) center; background-size:cover")

        article
          h1 Life Makers
          p.sub Features that make life soooo much better

        article
          h1 let and const
          p.sub Some say you should never use `var` again

        article
          h1 2 New ways to declare variables

        article
          h2 Block Scoped

        article
          img.high(src="images/screenshots/fgHm.png")

        article
          img.high(src="images/screenshots/ffxI.png")

        article
          img.wide(src="http://wes.io/hcrq/content.png")

        article
          h1 Handy use of let

        article
          img.wide(src="images/screenshots/fh59.png")

        article
          img.high(src="images/screenshots/fgzX.png")


        article
          h2 But...

        article
          img.wide(src="images/screenshots/fgh5.png")

        article
          img.wide(src="images/screenshots/fgnB.png")

        article
          h2 what?
          p Since `age` is globally scoped, by the time we console.log, it's been overwritten!

        article
          h1 Solution:<br> Use let!

        article
          img.wide(src="images/screenshots/fhDp.png")

        article
          img.high(src="images/screenshots/fgx0.png")

        article
          h1 const
          p.sub block scoped exactly like let

        article
          h1 const vars cannot be changed*
          p.sub *1 sec

        article
          h2 On Purpose
          img.wide(src="images/screenshots/fgIK.png")

        article
          h2 By Accident
          img.wide(src="images/screenshots/fg1n.png")

        article
          h2 Still Block Scoped

        //- article
        //-   img.high(src="images/screenshots/fgbz.png")

        article
          h1 const is not immutable!
          p.sub Allow me to explain

        article
          img.wide(src="images/screenshots/fggs.png")

        article
          img.wide(src="images/screenshots/fgfW.png")

        article
          h3(style="color:white; font-size:150px;") Using const makes sure we can't wipe<br>- or rebind -<br>wes out

        article
          img.wide(src="images/screenshots/fgir.png")

        article
          img.wide(src="images/screenshots/fgnM.png")

        article
          h1 Template Strings
          p.sub "Because everyone " + <span class='hl'>sucks</span> + " at concatenation."

        article
          h2 'Single Quotes'
          p var name = 'Wes Bos';

        article
          h2 "Double Quotes"
          p var puppy = "Snickers";

        article
          h2 Introducing `backticks`
          p const talk = `Start using ES6 today!`;

        article
          h2 The Old Way
          pre.prettyprint: code.
              var name = 'Snickers';
              var age = 2;
              var sentence = 'My dog ' + name + ' is ' + age * 7 + 'years old.';

        article
          h2 The ES6 Way!
          img(src="images/screenshots/fffe.png")

        article
          h2 Run JS inside ${}
          img(src="images/screenshots/ffjW.png")

        article
          h2 Use an existing Function
          img(src="images/screenshots/ffq2.png")

        article
          h1 Handy for HTML
          p.sub (Hotmail Markup Language)

        article
          img.wide(src="images/screenshots/ffls.png")

        article
          img.high(src="images/screenshots/ffjT.png")

        article
          h1 JavaScript is a templating Language!

        article
          h1 Looping

        article
          img.high(src="images/screenshots/ffsj.png")

        article
          img.wide(src="images/screenshots/fgUE.png")

        article
          h1 If<br>Statements
          p.sub Use a ternerary operator!

        article
          img.high(src="images/screenshots/fgCq.png")

        article
          h1 Use Render Functions
          p.sub Just like React!

        article
          img.wide(src="images/screenshots/fgHO.png")

        article
          img.high(src="images/screenshots/fgLW.png")

        article
          img.wide(src="images/screenshots/fgCZ.png")

        article
          img.wide(src="images/screenshots/ffvp.png")

        article
          h1 Default function arguments

        article
          img.wide(src="images/screenshots/fgsY.png")

        article
          img.high(src="images/screenshots/fgnc.png")


        //- HEATING UP

        article
          h1 Heating Up!
          p.sub Let's get a little more advanced

        article
          h1.white Arrow <span class="hl">Fun</span>ctions
          p.sub ugh, dad.

        article
          img.wide(src="images/screenshots/fgl6.png")

        article
          h2 Replace function with =>

        article
          img.wide(src="images/screenshots/fgvC.gif")

        article
          h2 Single Argument
          p Lose the parenthesis
          small (if you prefer)

        article
          img.wide(src="images/screenshots/fgck.gif")

        article
          h2 Implicit Return

        article
          img.wide(src="images/screenshots/fh1U.gif")

        article
          img.wide(src="images/screenshots/fgXl.png")

        article
          img.wide(src="images/screenshots/fh6L.png")
          img.wide(src="images/screenshots/fgiQ.png")

        article
          h1 this

        article
          h3.white With Arrow functions, the value of <span class="hl">this</span> does not change. <span class="hl">this</span> is equal to whatever the parent is bound to.

        article
          img.high(src="images/screenshots/fgzh.png")

        article
          img.high(src="images/screenshots/fgfo.gif")

        article
          img.high(src="images/screenshots/fgmB.gif")

        article
          h1 Enhanced Object Literals

        article
          h2 Same Name Properties

        article
          img.high(src="images/screenshots/fgrF.png")

        article
          img.high(src="images/screenshots/fh01.png")

        article
          img.wide(src="images/screenshots/fgdA.png")

        article
          h2 Method Definition

        article
          img.high(src="images/screenshots/fhAQ.gif")

        article
          h1 Tooling
          p.sub A Quick Overview of what you need to write ES6 Today

        article
          h2 Transpiling
          p Convert ES6 code to ES5

        article(style="background:#f5da55;").plain
          img(src="images/babel.svg")

        article
          h2 Syntax
          img.wide(src="images/screenshots/fh13.png", alt="")

        article
          h2 New Features
          p Promises, Sets, Maps...
          img(src="images/screenshots/fhAe.png", alt="")

        article
          h2 The Un-polyfillables and un-transpileables
          p Symbols, Proxies, Parts of Subclasses

        article
          h1 Deep End  🏊
          p.sub New concepts for many programmers

        article
          h2(style="letter-spacing:30px;") destructuring

        article
          h3.white Put simply, it allows us to create and assign multiple variables in a single line of code. It works with both Objects and Arrays.

        article
          img.high(src="images/screenshots/fh0F.png")

        article
          h3.white I need to create three variables called <span class="hl">`first`</span>, <span class="hl">`city`</span>, and <span class="hl">`twitter`</span>. Normally we might do something like this:

          img(src="images/screenshots/fh8u.png")

        article
          h3.white Create 3 variables in 1 shot
          img.wide(src="images/screenshots/fgbo.png", alt="")

        article
          img.high(src="images/screenshots/fgWF.png", alt="")

        article
          h3.white rename while you destructure
          img.wide(src="images/screenshots/fgmT.png")

        article
          h3.white Set Default Fallback Values
          img.wide(src="http://wes.io/hnbH/content")

        article
          h3.white Or Both!
          img.wide(src="http://wes.io/ho0j/content")

        article
          h3.white ...with arrays too!
          img.wide(src="images/screenshots/fgbG.png")

        article
          h2 Swap values with destructuring

        article
          h3.white Old confusing way
          img.high(src="images/screenshots/fgz3.png")

        article
          h3.white Swap with Destructuring!
          img.wide(src="images/screenshots/fgbJ.png")

        article
          h3 Return Multiple Values from a function

        article
          img.high(src="images/screenshots/fh2l.png", alt="")

        article
          img.wide(src="images/screenshots/fgWl.png")

        article
          h3 Pick + Choose
          img.wide(src="images/screenshots/fgyV.png")

        article
          h1 Sets
          p.sub Kind of like the Arrays<br> you have always wanted

        article
          h3.white(style="font-size:100px")
            em "A Set in ES6 is <span class="hl">like a unique array</span> with a <span class="hl">nice API</span> for adding/removing/checking its items."

        article
          h3.white Create a Set
          img.wide(src="images/screenshots/fgYU.png")

        article
          h3.white Only Unique Data
          img.wide(src="images/screenshots/fgtC.png")

        article
          h3.white Easy To Delete items without knowing index
          img.wide(src="images/screenshots/fgrg.png")

        article
          h3.white Nice API for checking if something exists
          img.wide(src="images/screenshots/fgfu.png")

        article
          h3.white Easy to Loop Over with ES6 `for of`
          img.wide(src="images/screenshots/fgzX2.png")

        article
          h3.white Any type can be added to a set
          img.wide(src="images/screenshots/fgzk.png")

        article
          h1 Holy Smokes!
          p.sub That was a lot

        article
          h1 We're only scratching the surface!

        article
          h1 ES7
          p.sub GET READY

        article
          h1 jk only 2 things

        article
          img.wide(src="images/screenshots/fhEM.png")

        article
          h1 Lots of time to Learn ES6
          p.sub But get at it!

        article
          h1.big Thanks<br>Folks!
          a(href="http://twitter.com/wesbos") @wesbos
          a(href="http://wesbos.com") WesBos.com
